<div class="card">
  <div class="card-header" style="text-align: center; font-weight: 600;">
    Portal
  </div>
  <div class="card-body">
    <h5 class="card-title">Deals</h5>
    <p class="card-text">
      <a class="mensFashion" style="margin-right: 15px; cursor: pointer;" id="mensFashion" (click)="open($event)">Men's Fashion</a>
      <a class="womensFashion" style="margin-right: 15px;cursor: pointer;" id="womensFashion" (click)="open($event)">Women's Fashion</a>
      <a class="mobile" style="margin-right: 15px;cursor: pointer;" id="mobile" (click)="open($event)">Mobile</a>
      <a class="phoneAccessiories" style="margin-right:  15px;cursor: pointer;" id="phoneAccessiories" (click)="open($event)">Phone Accessiories</a>
      <a class="desktopLaptops" style="margin-right: 15px;cursor: pointer;" id="desktopLaptops" (click)="open($event)">Desktops & Laptops</a>
      <a class="peripheralDevices" style="margin-right: 15px;cursor: pointer;"id="peripheralDevices" (click)="open($event)">Peripheral Devices</a>
      <a class="homeAppliances" style="margin-right: 15px;cursor: pointer;"id="homeAppliances" (click)="open($event)">Home Appliances</a>
      <a class="shoes" style="margin-right: 15px;cursor: pointer;"id="shoes" (click)="open($event)">Shoes</a>
      <a class="watches" style="margin-right: 15px;cursor: pointer;"id="watches" (click)="open($event)">Watches</a>
    </p>
  </div>
</div>